 
 
 /* just the background styling for the whole page, it's the color*/
 
 body{
background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    }




/* The temp title styling*/

#title{
display: inline-block;
width: 20%;
color: rgb(255, 72, 0);
font-weight: bold;
font-style: italic;
font-family: fantasy;
}



/*  The Submission area styling (or lack there of lol)                        */


#movieSubmitArea{
    position: fixed;
    display: inline-block;
    width: 75%;
    
 }
 
 
 
 
 #movieSubmitBtn {
 
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
 
 }
 
 #movieSubmitLogo{
     float: left;
     width: 50px;
     height: auto;
     margin: 3px;
 }




/* css for the requested movies: they will reach the end of the screen and wrap to a new line */


#Movie-Display-Area {
    display: block;
    flex-wrap: wrap;
}

  #Movie-Display-Area img {
    width: 150px;
    height: auto;
    margin: 7px;
}

#Movie-Display-Area img:hover {
    filter: drop-shadow(0 0 0.75rem black)
}





/*detail area styling*/ 

